$colorBackground: #faf4f1;
$colorBase: #E1563F;


body {

	font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	background-color: $colorBackground;
}
h1, h2, h3,
h4, h5, h6{
    color: $colorBase;
  }
a {
	color: $colorBase;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}


main {
	display: flex;
	section {
		flex: 1;
	}
	section.main {
		flex: 4;
	}
}
